form.form-bebert {
	display: table;
}

div.form-bebert {
	display: table-row;
}

label, input {
	display: table-cell;
	margin-bottom: 10px;
}

label {
	padding-right: 10px;
}

body {
	font-family: Comic sans MS;
	style: "background-image: url(" . ./. ./images/chezbebert_patron.png
		");";
}