<!DOCTYPE html>

<html>
<meta charset="utf-8" />

<head>

<link rel="stylesheet" href="../modules/css/index.css" />

<title>Page de Connexion</title>
</head>

<body>

	<div id="header">
		<h1>Connexion</h1>
	</div>

	<form method='POST' action="../includes/sessions/connection.php">
		<div class="Item_and_his_value">
			<div class="item">
				<div class="item_text">Nom</div>
			</div>
			<div class="value">
				<input type="text" name="surname" size="40" maxlength="100">
			</div>
		</div>
		<div class="Item_and_his_value">
			<div class="item">
				<div class="item_text">Prénom</div>
			</div>
			<div class="value">
				<input type="text" name="name" size="40" maxlength="100">
			</div>
		</div>
		<div class="Item_and_his_value">
			<div class="item">
				<div class="item_text">Mot de passe</div>
			</div>
			<div class="value">
				<input type="password" name="password" size="40" maxlength="100">
			</div>
		</div>
		<input type="submit" value="Se connecter" name="connect">

	</form>

</body>

</html>